body{
    border: 0px solid black;
    padding: 25px;
    background-image: url("https://funkyimg.com/i/3bM3o.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

}

.first-page{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 8%;

}

.title,
.paragraph,
.button{
    
    justify-content:center;
    align-items: center;   

}

h1{
    color: red;
    font-size: 80px;
    display: block;
    margin-block-end: 25px;
}

p{
    display: block;
    font-size: 22px;
    font-family: 'Noto Sans JP', sans-serif;
}

button{
    background-color: #8fd2d6;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: #8fd2d6;
    border: 2px solid #8fd2d6;
}

a{
    color: white;
    text-decoration: none;
}

