body{
    border: 0px solid black;
    padding: 25px;
    background-image: url("https://funkyimg.com/i/3bLGs.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

.first-page{
    margin-top: 180px;
}


.title,
.paragraph,
.button{
    
    display: flex;
    justify-content:center;
    align-items: center;   

}



h1{
    color: red;
    font-size: 80px;
    display: block;
    margin-block-end: 25px;
}

p{
    display: block;
    font-size: 30px;
}

button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}

button:hover{
    cursor: pointer;
    background-color: white;
    color: blue;
    border: 2px solid blue;
}

