body{
    min-height: 100vh;
    padding: 25px;
    background-image: url("https://funkyimg.com/i/3bLYp.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#header {
    display: flex;
    justify-content: center;
}

#logo {
    width: 150px;
}

.rounded-img {
    border-radius: 100%;
}

button{
    background-color: #8FD2D6;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color: #8FD2D6;
    border: 2px solid #8FD2D6;
}

.buttons{
    margin-top: 5px;
}

.search{
   display:flex;
   align-items: flex-end;
   justify-content: center;
   margin-top: 32%;
   position: sticky;
}

#picture{
    margin-left: 15px;
}

a{
    color: white;
    text-decoration: none;
}